.navbar {
  grid-column: 1;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid var(--line);
  height: 100vh;   
  position: sticky;    
  width: 100%;     
  position: relative; 
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom: 15em;
}
