.navbar {
  grid-column: 1;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 2px solid var(--line);
  height: 100vh;   
  gap: 2em;
  position: sticky;    
  width: 100%;     
  position: relative; 
  box-sizing: border-box;
}
